.divcss5 {
  width: 1000px;
  padding: 25px;
  font-size: 12pt;
  table {
    background: #ccc;
    color: #333;
    border-collapse: separate;
    .bg-y {
      background: #ffff99;
    }
    th {
      background: #ffff99;
      text-align: center;
    }
    td {
      background: #fff;
    }
    .title {
      font-size: 18pt;
      padding-top: 10px;
    }
    .sub-title {
      font-size: 16pt;
      padding-bottom: 10px;
    }
    .info {
      padding: 10px 0;
    }
    .info span {
      font-size: 12pt;
      padding: 0 20px;
    }
    .name {
      width: 20%;
      text-align: center;
      font-weight: bold;
    }
    .content {
      width: 40%;
      padding-left: 20px;
    }
    .blue {
      color: rgb(31, 73, 125);
    }
  }
}

.sign {
  font-size: 10pt;
  font-family: 微软雅黑, sans-serif, serif, EmojiFont;
  color: rgb(89, 89, 89);
  padding-left: 25px;
  a,
  p {
    line-height: 150%;
  }
  .logo {
    width: 214px;
    height: 50px;
    margin: 10px 0;
  }
  .tip {
    width: 950px;
    font-style: italic;
    font-size: 10pt;
    font-family: 微软雅黑, sans-serif, serif, EmojiFont;
    color: rgb(89, 89, 89);
    margin: 25px 0;
  }
  .divider {
    margin: 20px 0;
    color: #aaa;
  }
}
.left{
  width: 300px;
  padding: 25px;
}